.container
  %h1 About Lotopia
  %ul
    %li The abundance of unoccupied buildings and vacant land in Pittsburgh is a huge opportunity.
    %li We want the community to be involved in the solution.
    %li We want to provide data to the city, real estate developers and investors to help make these projects a reality.
  %h3 We wrote a game to do just that.
  %hr
  %h1 How does it work?
  %h3 The Data
  %ul
    %li Vacant property data was provided by the city
    %li We mashed the data against the real estate assessment data for more detail
    %li We geocoded the data for mapping and localization
    %li You provide the community data and rank ideas.
    %li SIMPLE!
  %h3 The Game
  %b 1. In game mode, you will see a map of vacant properties near you
  %ul
    %li This means you have be part of the community or get close to the property
    %li As more people join the game, you will have to be closer to the building.  We start off at 1/2 a mile.  As more data is put in to the game, this number will go down to a few hundred feet. 
    %li We want you to get out and play with our city.  You can't play this game from your couch or office chair.
  %b 2. You rescue the vacant property!
  %ul
    %li You make a renovation suggestion or suggest a new use for the space
    %li Give your idea a title and tell us some details about why your idea would have the most impact for the community
    %li We have a set number of categories.  Pick the closest one. We're still refining the list.
  %b 3. The community votes on the idea.  Up and Down!
  %ul
    %li If you think your idea is great, you have a space to get feedback.  
    %li We provide a community generated Pros/Cons list of why this idea should be funded and implemented
    %li The top liked ideas will get special attention
  %h3 The future
  %p We built this app in 2 days.  We have a bit of work ahead of us.  
  %ul
    %li The 'city planners' (aka, our players) will get a ranking score.  This is based on how 'worldly' and 'insightful' our data says they are.  This means, the top players will have ideas that are 1) voted up by other top players AND 2) have traveled the most to come up with these ideas
    %li We don't ask for who you are right now.  This is partially by design.  To do this right, we will need to have a user community.  We're thinking of asking people to sign in with facebook, but it could just be email.  Let us know how you want us to do this.
    %li We're hunting for partners who will take this data and fund / sponsor the top ideas.  This means the virtual city planner who wins will become a not-so-virtual winner.
  %h4 Win back your city, by playing lotopia!

  %hr
  %h1 Team
  %p The team and idea were incepted at the Pittsburgh Hackathon 2013 event: June 1, 2013. 
  %ul
    %li Jeff - Ruby On Rails Guru
    %li Bruce - Visuals
    %li Roger - Branding, Marketing
    %li Teppy - Gamification
    %li Priya - Data Guru
    %li Arash - Ideation
    %li Justin - Market Research
    %li Ron - RE Law / Policy
    %li Andy - Logistics + Business
    %li Karmin - Mapping and Research
  %hr
  %h1 Special Thanks
  %p We had a lot of support in building this
  %ul 
    %li
      = link_to 'Kit Mueller', 'https://twitter.com/kitmueller'
      == - Thinkathon 2013 Organizer
    %li
      = link_to 'Ariba', 'http://www.ariba.com'
      == - Providing working space for the team
  %hr
  %h1 Contact us
  %p We're looking for ideas, volunteers, data and partnerships.  Contact the team by emailing lotopia@googlegroups.com
  %br
  %br
