.container
  %h1 About Lotopia
  %ul
    %li The abundance of vacant land in Pittsburgh is evidence that we are incentivising speculation -- not productivity.
    %li It is much too affordable to hold on to land and not use it.
    %li How do we discourage this? How do we shift the cost of vacancy and underdevelopment to owners of idle property?
    %li More importantly, what is the best use of the unused land or building? Could we crowdsource it??
  %h3 We wrote a game to do just that.