= gmaps4rails(@map_data)
- if !session[:latitude].nil? and !session[:longitude].nil?
  #geolocation{:latitude => session[:latitude], :longitude =>  session[:longitude]}

= render 'layouts/application/footer'
