.container
  %h1 Your Score (demo)
  %h3
    %table
      %tr
        %td Previous Score
        %td 1300
      %tr
        %td Points Earned
        %td  +75
      %tr
        %td
        %td 1375
  %br
  %br
  %h3
    %table
      %tr
        %th Recent Votes
        %th Address
        %th Score
      %tr
        %td Gastropod with Asian
        %td 1471 Liberty
        %td 50
      %tr
        %td Aquarium Sushi
        %td 100 Wood St.
        %td 40
      %tr
        %td Gas Station with Wine
        %td 5429 Friendship Ave.
        %td -20
      %tr
        %td Exergaming Fitness Club
        %td 1412 Ligonier Ave.
        %td 45
