.row
%footer
  .container
    / row of widgets
    .row.tags
      .span3
        %h4 About Us
        %p
          The only way it could be more immaculate is if it were a gif and granny-head was dancing excitedly.
          %a{:href => "#"} Aenean
          nisl orci, condimentum.      
      / /.span3
      %hr.visible-phone/
      .span9
        %h4 Popular Tags Monthly
        %ul.tag-cloud
          %li
            %a{:href => "#"} styles
          %li
            %a{:href => "#"} layout
          %li
            %a{:href => "#"} letterpress
          %li
            %a{:href => "#"} magazine
          %li
            %a{:href => "#"} menu
          %li
            %a{:href => "#"} metal
          %li
            %a{:href => "#"} navigation
          %li
            %a{:href => "#"} paper
          %li
            %a{:href => "#"} print
          %li
            %a{:href => "#"} scripts
          %li
            %a{:href => "#"} nodes
          %li
            %a{:href => "#"} metal
          %li
            %a{:href => "#"} navigation
          %li
            %a{:href => "#"} paper
      / /.span3
    / /.row
  / /.container
  .bottom-line
    .container
      %p
        \© 2013 Designed by
        %a{:href => "http://twitter.com/heyallanmoreno", :target => "_blank"} @visualbam
= yield :scripts