.container
  .row
    %h1== Rescuing #{@property.address}
    %h3 Suggestions
    %ul
      - @property.suggestions.each do |suggestion|
        = render :partial => 'suggestion', :locals => { :suggestion => suggestion, :property => @property }
  .row
    %center= link_to 'Back to property', property_path(@property)
